html {
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Finnish_national_road_4_broad_shoulder.jpg/1024px-Finnish_national_road_4_broad_shoulder.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
