html {
}
.fullscreenDiv {
    background-color: #e8e8e8;
    /*
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Finnish_national_road_4_broad_shoulder.jpg/1024px-Finnish_national_road_4_broad_shoulder.jpg") no-repeat center center fixed;
    */
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}

h1, h2, h3, h4, h5 {
  color: crimson;
}
.center1 {
  font-size: 50px;
  position: absolute;
  width: 100px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -25px; 
  color: crimson;
}
.center2 {
  font-size: 30px;
}
